*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.Font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
    font-weight: bold;

}
.color-orrang{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{font-size: 35px;
    margin-bottom: 30px;
    line-height: auto;
    color: 181818;

}

/* main style */
header{
    background-color: #FFF8F3;
    background: url(images/developer.png),url(images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    padding top: 50px;

}
nav{
  max-width: 1140px;
  width: 71%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    margin: 46px 0px 0px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-content{
   max-width: 590px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    font color: #474747;
    margin: bottom 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 
    71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
    background-color:#FFF8F3 ;

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{font-size: 18px;
    color: #757575;
    line-height: 30px;

}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
}